name: ci-python-unittest

on:
  push:
    branches: [dev, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
      - name: Test with unittest
        run: |
          python -m unittest discover -s ./test -p 'test_*.py'