name: Run tests

on:
  push:
    branches: [dev, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get -qq update 
          sudo apt-get -y -qq upgrade 
          sudo apt-get -y -qq install build-essential zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev libsqlite3-dev libbz2-dev cmake libblas-dev liblapack-dev libopenmpi-dev libboost-dev libboost-program-options-dev libproj-dev libtet1.5-dev zlib1g-dev gzip python3-pip fftw3 vtk9 libvtk9-dev libomp5 libomp-dev
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
      - name: Build breastGeneration
        run: |
          rm -rf ./Victre/generation/build 
          mkdir ./Victre/generation/build
          (cd ./Victre/generation/build && cmake ..)
          (cd ./Victre/generation/build && make)
      - name: Build breastCompression
        run: |
          rm -rf ./Victre/compression/build 
          mkdir ./Victre/compression/build
          (cd ./Victre/compression/build && cmake ..)
          (cd ./Victre/compression/build && make)              
      - name: Build breastMass
        run: |
          rm -rf ./Victre/breastMass/build 
          mkdir ./Victre/breastMass/build
          (cd ./Victre/breastMass/build && cmake ..)
          (cd ./Victre/breastMass/build && make)        
      - name: Test with unittest
        run: |
          python -m unittest discover -s ./test -p 'test_*.py'